<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-view2-cuentas">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <!--<div class="card">
      <div class="circle">2</div>
      <h1>View Two</h1>
      <p>Ea duis bonorum nec, falli paulo aliquid ei eum.</p>
      <p>Id nam odio natum malorum, tibique copiosae expetenda mel ea.Detracto suavitate repudiandae no eum. Id adhuc minim soluta nam.Id nam odio natum malorum, tibique copiosae expetenda mel ea.</p>
    </div>-->
  <iron-ajax id="obtenerCuentas"
             url="http://localhost:3000/apitechu/v5/cuentas/id"
             handle-as="json"
             on-response="mostrarCuentas"
             on-error="mostrarErrorCuentas">
  </iron-ajax>

  <h1>Sus cuentas</h1>
<!--  <template is="dom-repeat" items="{{cuentas}}">
    <span>{{item.iban}}</span>
  </template>-->
  <table class="table table-striped">
    <thead>
      <th>IBAN</th>
    </thead>
    <tbody>
      <template is="dom-repeat" items="{{cuentas}}">
        <tr>
          <td>{{index}}</td>
          <td>{{item.iban}}</td>
          <td><a class="btn btn-info" href="[[rootPath]]view3-movimientos" on-click="buscarMovimientos" data-iban$="{{item.iban}}">Ver movimientos</a></td>
        </tr>

      </template>
    </tbody>
  </table>
  </template>

  <script>
    class MyView2Cuentas extends Polymer.Element {
      static get is() { return 'my-view2-cuentas'; }
      static get properties() {
        return {
          idcliente: {
            type: Number
          },
          cuentas: {
            type: Array
          }
  //        iban: {
  //          type: String
  //        }
        };
      }
      mostrarCuentas(resultado) {
       console.log(resultado.detail.response)
       this.cuentas = resultado.detail.response
      }
      mostrarErrorCuentas(error) {
        console.log(error.detail.response)
      }
      //listarCuentas() {
      connectedCallback() {
        super.connectedCallback()
        console.log("consultar cuentas id")
        console.log(this.idcliente)
        this.$.obtenerCuentas.headers.idcliente = this.idcliente
        this.$.obtenerCuentas.generateRequest()
      }
      buscarMovimientos(event) {
        console.log("Buscar Movimientos")
        const it = event.target.dataset.iban;
        console.log(it)
        this.dispatchEvent(new CustomEvent("eventomovs", {"detail":{"iban":it}}))
      }
    }

    window.customElements.define(MyView2Cuentas.is, MyView2Cuentas);
  </script>
</dom-module>
