<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-view1-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <!--<div class="card">
      <div class="circle">1</div>
      <h1>View One</h1>
      <p>Ut labores minimum atomorum pro. Laudem tibique ut has.</p>
      <p>Lorem ipsum dolor sit amet, per in nusquam nominavi periculis, sit elit oportere ea.Lorem ipsum dolor sit amet, per in nusquam nominavi periculis, sit elit oportere ea.Cu mei vide viris gloriatur, at populo eripuit sit.</p>
    </div>-->
    <iron-ajax id="hacerLogin"
              url="http://localhost:3000/apitechu/v5/login"
              method="POST"
              handle-as="json"
              on-response="mostrarResultadoLogin"
              on-error="mostrarError">
    </iron-ajax>
    <div class="row">
      <input type="email" value="{{email::input}}" />
      <input type="password" value="{{password::input}}" />
      <button on-click="logar">Login</button>
   </div>
   <span hidden$="{{!logado}}">Bienvenido de nuevo</span>
  </template>

  <script>
  class MyView1Login extends Polymer.Element {
    static get is() { return 'my-view1-login'; }
    static get properties() {
      return {
        email: {
          type: String
//            value: 'Miguel Angel'
        },
        password: {
          type: String

        },
        logado: {
          type: Boolean,
          value: false
        }
      };
    }
    mostrarResultadoLogin(resultado) {
      console.log("4. Llegaron los resultados")
      console.log(resultado)
      console.log("5. Proceso los resultados")
      this.logado = true
      console.log("Paso el id:")
      console.log(resultado.detail.response.id)
      this.dispatchEvent(new CustomEvent("eventologin", {"detail":{"id":resultado.detail.response.id}}))
    }
    logar() {
      console.log("1. El usuario ha pulsado el botón")
      this.$.hacerLogin.headers.email = this.email
      this.$.hacerLogin.headers.password = this.password
      console.log("2. Voy a enviar la petición")
      this.$.hacerLogin.generateRequest()
      console.log("3. Petición enviada")
    }
    mostrarError(error) {
      console.log("4. Llega el error")
      console.log(error)
      this.logado = false
    }
  }

    window.customElements.define(MyView1Login.is, MyView1Login);
  </script>
</dom-module>
