<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-view3-movimientos">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <iron-ajax id="obtenerMovimientos"
               url="http://localhost:3000/apitechu/v5/cuentas/movimientos"
               handle-as="json"
               on-response="mostrarMovimientos"
               on-error="mostrarErrorMovimientos">
    </iron-ajax>

    <div class="card">
      <div class="circle">M</div>
      <h1>Sus Movimientos de la cuenta:</h1>
      <p>{{iban}}</p>
    </div>

    <table class="table table-striped">
      <thead>
        <th>MOVIMIENTO</th>
        <th>FECHA</th>
        <th>IMPORTE</th>
        <th>MONEDA</th>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{movimientos}}">
          <tr>
            <td>{{item.id}}</td>
            <td>{{item.fecha}}</td>
            <td>{{item.importe}}</td>
            <td>{{item.moneda}}</td>
            <td><a class="btn btn-info" href="[[rootPath]]view3-movimientos">Ver movimientos</a></td>
  <!--          <td><a class="btn btn-info" href="[[rootPath]]view3-movimientos" on-click="buscarMovimientos" data-iban$="{{item.iban}}">Ver movimientos</a></td>-->
          </tr>

        </template>
      </tbody>
    </table>
  </template>

  <script>
    class MyView3Movimientos extends Polymer.Element {
      static get is() { return 'my-view3-movimientos'; }
      static get properties() {
        return {
          iban: {
            type: String,
            observer: '_ibanChanged'
          },
          movimientos: {
            type: Array
          }
        };
      }
      mostrarMovimientos(resultado) {
       console.log("Resultado: ")
       console.log(resultado)
       console.log("Result detail response")
       console.log(resultado.detail.response)
       this.movimientos = resultado.detail.response[0].movimientos
       console.log("Array de movimientos: ")
       console.log(this.movimientos)
      }
      mostrarErrorMovimientos(error) {
        console.log(error.detail.response)
      }
      _ibanChanged(newValue, oldValue) {
        this.movimientos = null
        this.ibanEd = '"' + this.iban + '"'
        console.log("con comillas : " + this.ibanEd)
        this.$.obtenerMovimientos.headers.iban = this.ibanEd
        this.$.obtenerMovimientos.generateRequest()
      }

      connectedCallback() {
        super.connectedCallback()
        console.log("entro en movimientos")
        console.log(this.iban)
        this.ibanEd = '"' + this.iban + '"'
        console.log("con comillas : " + this.ibanEd)
        this.$.obtenerMovimientos.headers.iban = this.ibanEd
        this.$.obtenerMovimientos.generateRequest()
      }
    }

    window.customElements.define(MyView3Movimientos.is, MyView3Movimientos);
  </script>
</dom-module>
